.bg-control{
    background-color: $tertiary-color!important;
}

.min-vh{
    min-height: 100vh;
}

.rounded-end-nav{
    border-radius: 0px 1.5rem 0px 0px;
    box-sizing: border-box;
}

.b-sizing{
    box-sizing: border-box;
    max-height: 40px;
}

img {
    max-width: 10rem;
    max-height: 8rem;
}

.bg-color-brand{
    background-color: $primary-color!important;
}

.overflow-y-content{
    overflow-y: scroll;
}

.h-control{
    height: 75vh;
    box-sizing: border-box;
}

.h-control-divTables{
    height: 15rem;
}

.hsizing-control{
    box-sizing: border-box;
}

.h-libroContable{
    height: 32rem;
}